@use "@material/theme" with (
  $primary: mediumseagreen,
);


// for button
@use '@material/button/mdc-button';
@use '@material/button';

//for nav drawer
// @use "@material/drawer";
// @use "@material/list";
// @include drawer.core-styles;
// @include drawer.dismissible-core-styles;
// @include drawer.modal-core-styles;
// @include list.core-styles;

//for radio button
@use "@material/radio/styles";
@use "@material/form-field";
@use "@material/checkbox";



//for textfield
// @use "@material/floating-label/mdc-floating-label";
// @use "@material/line-ripple/mdc-line-ripple";
// @use "@material/notched-outline/mdc-notched-outline";
// @use "@material/textfield";

// @include textfield.core-styles;

//for app bar
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";


//for image list
@use "@material/image-list/mdc-image-list";
@use "@material/image-list";

//cards
@use "@material/card";

//data table
// @use "@material/checkbox"; // Required only for data table with row selection.
// @use "@material/icon-button"; // Required only for data table with column sorting.
@use "@material/data-table/data-table";

// @include checkbox.core-styles;
// @include icon-button.core-styles;
@include data-table.core-styles;
@include data-table.theme-baseline;

@include card.core-styles;

.my-image-list {
  @include image-list.standard-columns(5);
}
// @include icon-button.core-styles;
@include form-field.core-styles;

@include checkbox.core-styles;

body{
    background-color:#DFDEDE;
}

.submit-button{
    // @include button.icon-color(mediumseagreen);
    @include button.ink-color(mediumseagreen);
}

.my-card-content {
  padding: 16px;
}

.my-card {
  height: 100px;
  width: fit-content;
}